.text-right {
    /* text-align: right; */
    float: right;
    cursor: pointer;
}

.text-right:hover {
    color: red;
}

.btn-right {
    text-align: right;
}

.mr-5 {
    margin-right: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.ml-5 {
    margin-left: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.dropdown-menu .fa::before {
    padding-right: 10px;
}

.sort-selected::after {
    content: '\f00c';
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 0 10px;
    display: inline-block;
}

.cur {
    cursor: pointer;
}

.sort_selected::after {
    content: '\f00c';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    display: inline-block;
}